
@mixin calcPeMPx($a, $b) {
    width: -webkit-calc(#{$a} - #{$b});
    width: -moz-calc(#{$a} - #{$b});
    width: calc(#{$a} - #{$b});
}


/*LAYOUT*/

.backgroundLayout {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    color: white !important;
}

.pageContainer{
    font-family: Montserrat, sans-serif!important;
    font-weight: 600;
    a{
        color: white !important;
    }

    .nav{
        margin-left: 17%;
        a:hover{
            background-color:#2D3033;
        }
    }
    .navbar{
        margin-bottom: 0px !important;
        border-radius: 0px !important;
    }
    .header-container{
        color: white;
            background-color: #609194;
    }
    .dropdown-menu{
        a{
            color:black!important;
        }
    }
    .info-block{
        margin-left:10px;
        margin-top:10px;
    }
    .navbottom{
        background-color: white;
        .nav > li > a{
            color: black !important;
        }
        .nav > li > a:hover{
            color: #0be6af;
            font-weight: bold;
            border-top: 2.5px solid #0be6af;
        }
        .navbar-brand{
            color: black !important;
        }
        .nav > ul >li {
            margin-top:10px;
        }
    }
    .signin{
        background-color: #333;
        color: white;
        float: right;
        margin-top:5px;
        margin-right:50px
    }
    .search{
        margin-bottom: 10px;
    }
}